<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Futbol Guess</title>
</head>
<body>
    <h1>MAIN PAGE</h1>
        <img src="https://www.google.com/imgres?q=spongebob&imgurl=https%3A%2F%2Fi.scdn.co%2Fimage%2Fab67616100005174877d4c061d08c040974224be&imgrefurl=https%3A%2F%2Fopen.spotify.com%2Fartist%2F3zCAmjKyHsG7kTGsls1cfj&docid=Z3P1csODYqcyJM&tbnid=_ymaBpHifZSIWM&vet=12ahUKEwieupaiqLuQAxXgJkQIHTDJEkgQM3oECDsQAA..i&w=320&h=320&hcb=2&ved=2ahUKEwieupaiqLuQAxXgJkQIHTDJEkgQM3oECDsQAA"> 

</body>
</html>
