<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Futbol Guess</title>
</head>
<body>
<style>
    .left-thing{
        display: flex;
        justify-content: left;
        border: solid black 10px;
        padding: 40px;
        background-color: cadetblue;
    }
    .right-thing{
        display: flex;
        justify-content: right;
        border: solid black 10px;
        padding: 40px;
        background-color: cadetblue;
    }
    .left-button{
        padding: 20px;
    }
    .right-button{
        padding: 20px
    }
</style>    
 <h1>MAIN PAGE</h1>
 {%set t1=teams[nums[0]]["name"]%}
 {%set t2=teams[nums[4]]["name"]%}

<form action="{{url_for('main')}}" method="POST">
 <h1 class="left-thing"><button class="left-button" type="submit" name="main" value="left">This is Higher</button>  {{t1}}</h1>
 <h1 class="right-thing"><button class="right-button" type="submit" name="main" value="right">This is Higher</button>{{t2}}</h1>
</form>
<!-- {% for team in teams%}
    <p>{{team}}</p>
    <br>
{% endfor %} -->



</body>
</html>
